

th {
    background-color: azure;
    color: black;
    white-space: nowrap;
}

thead, tbody, tr, td, th {
    display: block;
    position: relative;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: auto;
}

tbody {
    height: 500px;
    overflow-y: auto;
}

tbody td, thead th {
    width: 20%;
    float: left;
}

input {
    display: table-cell;
    width: 100%;
    float:left;
}
